/* TV Illustration Styles - Scoped to NetworkIssue component */

.notFoundTv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 30em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.antenna {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #f27405;
  margin-bottom: -6em;
  margin-left: 0;
  z-index: -1;
  position: relative;
}

.antennaShadow {
  position: absolute;
  background-color: transparent;
  width: 50px;
  height: 56px;
  margin-left: 1.68em;
  border-radius: 45%;
  transform: rotate(140deg);
  border: 4px solid transparent;
  box-shadow: inset 0 16px #a85103, inset 0 16px 1px 1px #a85103;
}

.antenna::after {
  content: "";
  position: absolute;
  margin-top: -9.4em;
  margin-left: 0.4em;
  transform: rotate(-25deg);
  width: 1em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f69e50;
}

.antenna::before {
  content: "";
  position: absolute;
  margin-top: 0.2em;
  margin-left: 1.25em;
  transform: rotate(-20deg);
  width: 1.5em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #f69e50;
}

.a1 {
  position: relative;
  top: -102%;
  left: -130%;
  width: 12em;
  height: 5.5em;
  border-radius: 50px;
  background-image: linear-gradient(#171717, #171717, #353535, #353535, #171717);
  transform: rotate(-29deg);
  clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
}

.a1d {
  position: relative;
  top: -211%;
  left: -35%;
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #979797;
  z-index: 99;
}

.a2 {
  position: relative;
  top: -210%;
  left: -10%;
  width: 12em;
  height: 4em;
  border-radius: 50px;
  background-color: #171717;
  background-image: linear-gradient(#171717, #171717, #353535, #353535, #171717);
  margin-right: 5em;
  clip-path: polygon(47% 0, 47% 0, 34% 34%, 54% 25%, 32% 100%, 29% 96%, 49% 32%, 30% 38%);
  transform: rotate(-8deg);
}

.a2d {
  position: relative;
  top: -294%;
  left: 94%;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #979797;
  z-index: 99;
}

.aBase {
  position: relative;
  top: -200%;
  width: 3em;
  height: 2em;
  border-radius: 15px;
  border: 3px solid #000;
  background-image: linear-gradient(#f69e50, #f27405);
}

.tv {
  position: relative;
  width: 20em;
  height: 13em;
  border: 5px solid #000;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: linear-gradient(#f69e50, #f69e50, #f27405, #f27405, #f27405, #f27405);
  box-shadow: 0 4px #a85103, inset 3px 3px #a85103;
}

.curve {
  position: absolute;
  margin-left: 13.5em;
  margin-top: -2em;
  transform: rotate(40deg);
}

.curveSvg {
  width: 4em;
  fill: #f69e50;
  stroke: #000;
  stroke-width: 3px;
}

.displayDiv {
  position: absolute;
  background-color: #414141;
  border-radius: 8px;
  width: 14em;
  height: 9em;
  margin-left: 2em;
  margin-top: 2em;
  border: 3px solid #000;
}

.screenOut {
  overflow: hidden;
  width: 13.5em;
  height: 8.5em;
  background-color: #414141;
  border-radius: 8px;
  margin-left: 0.18em;
  margin-top: 0.18em;
  border: 3px solid #000;
}

.screenOut1 {
  width: 27em;
  height: 8.5em;
  animation: tvAnimation 5s ease-in-out infinite alternate;
}

.screen {
  width: 13.5em;
  height: 8.5em;
  background-image: linear-gradient(#b1b1b1, #bdbdbd, #9f9f9f);
  box-shadow: inset 6px 6px 0 0 #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenM {
  width: 13.5em;
  height: 8.5em;
  background-image: linear-gradient(#b1b1b1, #bdbdbd, #9f9f9f);
  box-shadow: inset -6px -6px 0 0 #fff;
  display: none;
  align-items: center;
  justify-content: center;
}

.notFoundText {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #171717;
  text-shadow: 1px 1px #fff;
}

.lines {
  margin-left: 1.5em;
  margin-top: 11em;
}

.line1,
.line2,
.line3 {
  background-color: #171717;
  height: 0.6em;
  border-radius: 20px;
  border: 3px solid #000;
  box-shadow: inset 1px 1px #444;
}

.line1 {
  width: 4em;
}

.line2 {
  width: 2.2em;
  margin-top: 0.5em;
}

.line3 {
  width: 2em;
  margin-top: 0.5em;
}

.buttonsDiv {
  margin-left: 16em;
  margin-top: -3.8em;
}

.b1 {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 3px solid #000;
  background-image: linear-gradient(#f69e50, #f27405);
  display: flex;
  align-items: center;
  justify-content: center;
}

.b1 > div {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #3c3c3c;
}

.b2 {
  margin-top: 0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 3px solid #000;
  background-image: linear-gradient(#f69e50, #f27405);
}

.speakers {
  display: flex;
  margin-left: 2em;
  margin-top: -3.7em;
}

.g1 {
  margin-right: 0.5em;
}

.g11,
.g12,
.g13 {
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #414141;
  width: 1.5em;
  height: 0.8em;
}

.g12,
.g13 {
  margin-top: 0.3em;
}

.g {
  margin-left: 0.2em;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #414141;
  width: 1.5em;
  height: 2.9em;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.base1 {
  width: 13em;
  height: 1.2em;
  border-radius: 10px;
  background-image: linear-gradient(#f69e50, #f69e50, #f27405);
  border: 3px solid #000;
}

.base2 {
  position: absolute;
  margin-top: -0.4em;
  width: 9em;
  height: 1.2em;
  border-radius: 10px;
  background-image: linear-gradient(#f69e50, #f69e50, #f27405);
  border: 3px solid #000;
}

.base3 {
  position: absolute;
  margin-top: 0.1em;
  width: 5em;
  height: 1.2em;
  border-radius: 10px;
  background-image: linear-gradient(#f69e50, #f69e50, #f27405);
  border: 3px solid #000;
}

.text404 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.text4041,
.text4042,
.text4043 {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #171717;
  text-shadow: 1px 1px #fff;
  margin: 0 0.15em;
}

@keyframes tvAnimation {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -13.5em;
  }
}

@media (max-width: 640px) {
  .screen {
    display: none;
  }

  .screenM {
    display: flex;
  }

  .notFoundText {
    font-size: 10px;
  }

  .mainWrapper {
    width: 100%;
    max-width: 20em;
    height: auto;
  }

  .main {
    margin-top: 2em;
  }
}

@media (max-width: 768px) {
  .mainWrapper {
    width: 100%;
    max-width: 24em;
    height: auto;
  }
}
